<h3>List all Articles</h3>

<%= link_to 'New Article', new_article_path, class: "btn btn-success btn-lg", id: "new-article-btn" %>

<% @articles.each do |article| %>
<div class="well well-lg">
<div class="article-title">
    <h3><%= link_to article.title , article_path(article) %></h3>
    </div>
    <div class="article-body">
<p><%= truncate(article.body, length: 200) %></p>
    </div>

</div>
<% end %>
